.titlecre {
  font-family: sans-serif;
  color: rgb(160, 160, 160);
  text-align: center;
  font-size: 62px;
  /* text-shadow: var(--text-shadow) ; */
  text-shadow: rgb(0, 0, 0) 2px 3px 5px, rgb(0, 0, 0) 2px 3px,
    rgb(255, 255, 255) 2px 3px;
  line-height: 1.5;
  padding: 10px 0px;
}

.caja {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.cuadrado {
  box-sizing: content-box;
  background-color: rgb(110, 109, 109, 0.8);
  color: silver;
  border-radius: 30px;
  flex-direction: column-reverse;
  width: 650px;
  height: 450px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  align-content: center;
  border-color: 10px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}
.label {
  margin-top: 5px;
}

.input {
  margin-top: 10px;
}

.alert {
  width: 180px;
  height: 100px;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.419);
  margin-top: 22%;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 15px;
  color: white;
}

.alert p {
  font-size: 20px;
  text-align: center;
}

.alert button {
  text-transform: uppercase;
  margin-top: 5px;
  background: linear-gradient(#333, #222);
  color: #c5c5c5;
  border: 2px solid rgb(179, 179, 179);
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 3px;
}
.alert button:hover {
  color: aliceblue;
  background-color: black;
  border-color: aliceblue;
  border-radius: 3px;
}
.alerthome {
  background-size: cover;
  width: 800px;
  height: 570px;
  justify-content: center;
  display: inline-flex;
  align-content: center;
}

.error {
  color: red;
  font-size: 12px;
}
.buttonBackCreate {
  position: relative;
  margin: 10px;
  left: 245px;
  text-transform: uppercase;
  padding: 20px 50px;
  background: linear-gradient(#333, #222);
  color: #c5c5c5;
  border: 2px solid rgb(179, 179, 179);
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 3px;
}
.buttonBackCreate:hover {
  color: aliceblue;
  background-color: black;
  border-color: aliceblue;
  border-radius: 3px;
}
