body {
  background-image: url(./img.jpg);
  background-size: cover;
}
.bgLanding {
  background-color: rgba(0, 0, 0, 0.44);
  height: 300px;
  position: relative;
  top: 150px;
  left: 370px;
  width: 550px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}
.titleLanding {
  color: aliceblue;
  position: relative;
  top: 15px;
  left: 120px;
}
.subTitleLanding {
  position: relative;
  top: 50px;
  left: 30px;
  color: aliceblue;
  font-size: large;
  font-weight: bolder;
}
.buttonLanding {
  position: relative;
  top: 115px;
  right: 200px;
  padding: 5px;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 3px;
}
.buttonLanding:hover {
  color: aliceblue;
  background-color: black;
  border-color: aliceblue;
  border-radius: 3px;
}
